#carousel {
  text-transform: capitalize;
  background-color: var(--theme1-030);
  height: 30vh;
}

#home-map {
  background-color: var(--theme1-070);
  height: 70vh;
}

#upload-png {
  height: 40px;
}

#upload-img {
  padding: 10px 0 10px 0;
}
