#carousel {
  color: red;
  text-transform: capitalize;
  background-color: rgba(153, 149, 149, 0.795);
  height: 50vh;
}

#home-map {
  background-color: var(--theme1-070);
  height: 70vh;
}

#upload-png {
  height: 40px;
}

#upload-img {
  padding: 10px 0 10px 0;
}
