

.carousel-inner{
    height: 70vh;
    background-color: rgb(171, 80, 255);
}

.news-card-container{
    
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article-box{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom:22px;
}

.Fundcards-group{
    margin:18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Fund-Raiser{
    color:white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.Fundcard{
    height:300px;
    width: 250px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 4px 10px 3px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.fundtools-img{
    height: 50%;
}

.fundtools{
    padding: 5px;
    height: 50%;
    background-color: rgb(108, 13, 175);
}

.progress{
    margin:15px;
    border-radius: 20px;
}

.bar{
    background-color: rgb(211, 57, 185);
    width: 80%;
}

.Fundcard:hover{
    transition: 300ms ease-in;
    transform: scale(1.01);
}

.picture-div{
    background-color: rgb(135, 26, 224);
    height:290px;
}

.Fund-Raiser{
    padding:15px;
    background-color: rgb(211, 211, 211);

}

.links>a{
    color: white;
}
.news-card{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(191, 54, 245);
    height: 24rem;
    min-width:520px;
    margin: 9px;
    display: grid;

}

.slogans{
    height:500px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
}



@media only screen and (max-width: 875px) {
  .news-card{
    background-color: rgb(191, 54, 245);
    height: 24rem;
    width: 80%;
    margin: 12px;
  }

}

.article-image{
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fundimage{
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.article-image:hover{
    transition: 300ms;
    transform: scale(1.02);
}