@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.report-content
{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: black;
    letter-spacing: 1px;
    margin: 20px;
   
}
.report-main
{
    text-align: justify;
    padding: 40px;
    font-size: 23px;
    color: black;
    width: 50%;
}
.btn-outline-info
{
    position: relative;
    width: 40%;
    line-height: 40px;
    margin: 60px;
    padding: 5px 40px;
    position: relative;
    overflow: hidden;
     border: 3px solid var(--theme1-100);
    transition: color 0.2s;
    border-radius: 20px;
    color: var(--theme1-100);
    font-size: 20px;
    font-weight: bold;
}
.report-bg
{
    width: 50% !important;
    position: absolute ;
    left: 50%;
    top: 30%;
    z-index: 2;
}

/* report-form */

.fname{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit {
    width: 100%;
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    width: 40%;
    line-height: 40px;
    margin: 60px;
    padding: 5px 40px;
    position: relative;
    top: 120%;
    overflow: hidden;
     border: 3px solid var(--theme1-100);
    transition: color 0.2s;
    border-radius: 20px;
    /* color: var(--theme1-100); */
    font-size: 20px;
    font-weight: bold;
  }
  
  .submit:hover {
    background-color:  var(--theme1-100);
    
  }
  .form-heading
  {
      text-align: center;
  }
  .report-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    margin-top: 15rem;
    color: black;
    
  }