.navigation {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}

.tab a {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-style: italic;
  border: 2px solid var(--theme1-100);
}

.paymentCard {
  width: 70%;
  margin: auto;
  height: 60vh;
  box-shadow: 6px 6px 20px rgb(175, 175, 175);
  border-radius: 12px;
  padding: 1rem 2rem;
}

.card {
  display: none;
  text-align: center;
  padding: 4rem 0;
  height: 100%;
  position: relative;
}

.card h2 {
  margin-bottom: 4rem;
}

.card input,
.card button {
  padding: 1rem 1.5rem;
  border: 2px solid var(--theme1-100);
  color: rgb(51, 51, 51);
  text-align: center;
}

.card .btn {
  padding: 1rem 1.5rem;
  border: 2px solid var(--theme1-100);
  color: rgb(51, 51, 51);
  text-align: center;
  background-color: var(--theme1-070);
  cursor: pointer;
}

.card .btn:hover {
  opacity: 0.85;
}

.card input {
  width: 80%;
  margin-bottom: 1rem;
}

.card button {
  background-color: var(--theme1-070);
}

.card button:hover {
  opacity: 0.85;
}

.inputGroup {
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.inputGroup label {
  width: 20%;
}

.inputGroup input {
  width: 30%;
}

.next {
  font-size: 1.5rem;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card3 label {
  font-size: 1.5rem;
  margin-right: 1rem;
}
